<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <!--
  ConnectionString para ligar à base de dados com a gestão de utilizadores. 
  No data source é . porque o SQL server está na mesma máquina que a aplicação
  -->
  <connectionStrings>
    <add name="AspNetMembership" connectionString="data source=.\SQLEXPRESS; Integrated Security=True; initial catalog=RecipesPortal"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>

    <authentication mode="Forms">
      <forms loginUrl="LoginUser.aspx" name=".ASPXFORMSAUTH"></forms>
    </authentication>
    
    <!--
  Membership usando a Connection definida acima, define a gestão de utilizadores do ponto de vista 
  da app ligando à base de dados e usando o que já está criado na framework
  https://docs.microsoft.com/en-us/aspnet/web-forms/overview/older-versions-security/membership/creating-the-membership-schema-in-sql-server-cs
  
  applicationName é o nome do projeto
  -->
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear/>
        <add connectionStringName="AspNetMembership"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             applicationName="WebPage"
             name="AspNetSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"/>
      </providers>
    </membership>

    <!--
 RoleManager faz a gestão dos roles dos utilizadores
  
  connectionStringName está definida em cima
  applicationName é o nome do projeto
  -->
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider"
             connectionStringName="AspNetMembership"
             applicationName="WebPage"
             type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
